repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.5
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix] # enable link fixes
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: \.lock$
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-aws-credentials
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.5
    hooks:
      - id: biome-format
      - id: biome-check
        args: []

  - repo: https://github.com/oxc-project/mirrors-oxlint
    rev: v1.29.0
    hooks:
      - id: oxlint
        args: []
