services:
  web:
    build: ./web
    working_dir: /src/web
    volumes:
      - ./web:/src/web
    ports:
      - "5173:5173"
    # user: "1000"
    user: "${COMPOSE_UID:-1000}:${COMPOSE_GID:-1000}"
    command: ["npm", "run", "dev"]
  api:
    build: ./api
    volumes:
      - ./api:/var/task
    working_dir: /var/task
    ports:
      - "8000:8000"
    user: "${COMPOSE_UID:-1000}:${COMPOSE_GID:-1000}"
    environment:
    - DB_USER=postgres
    - DB_PASSWORD=postgres
    - DB_HOST=postgres
    - DB_PORT=5432
    - DB_NAME=mini_project
    entrypoint: ["uv", "run"]
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]

  postgres:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mini_project
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5000:80"
    depends_on:
      - postgres
    logging:
      driver: none
  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
      - api
volumes:
  postgres_data:
    driver: local
