services:
  web:
    container_name: web
    build: ./web
    volumes:
      - ./web:/app:cached
      - /app/node_modules
    ports:
      - "5173:5173"
    command: ["npm", "run", "dev"]
  api:
    container_name: api
    build: ./api
    volumes:
      - ./api:/var/task
    working_dir: /var/task
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - UV_LINK_MODE=copy
      - PYTHONPATH=/var/task
    command:
      [
        "bash",
        "-c",
        "/root/.local/bin/uv run uvicorn main:app --host 0.0.0.0 --port 8000",
      ]
  db:
    container_name: db
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mini_project
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5000:80"
    depends_on:
      - db
    logging:
      driver: none
  nginx:
    container_name: nginx
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
      - api
volumes:
  postgres_data:
    driver: local
